@import "~normalize.css";
@import "./media.scss";
@import "./base.scss";

.header {
  margin-bottom: 60px;
  padding-top: 25px;
  color: #FF7B40;

  @include bigPhones {
    margin-bottom: 35px;
  }

  @include phones {
    padding-top: 10px;
  }
}

.logo {
  @include bigPhones {
    margin: 0 auto;
    min-width: 240px;
    text-align: center;
  }

  @include phones {
    margin-bottom: 15px;
  }
}

.logo__link {
  font-size: 55px;
  text-shadow: 0px 1px 1px #A62800;

  @include bigPhones {
    font-size: 35px;
  }
}

.menu-icon {
  z-index: 100;

  @include bigPhones {
    margin-right: 10px;
  }

  @include phones {
    margin-bottom: 15px;
  }
}

.menu-icon__toggle {
  display: block;
  width: 45px;
  height: 31px;
  position: relative;

  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;

  & span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    background-color: #50026E;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 12px;
    }

    &:nth-child(4) {
      top: 24px;
    }
  }

  &--open {
    z-index: 7;
    transform: translate(270px, 0px);
    transition: .5s;

    & span {
      background-color: #fff;

      &:nth-child(1),
      &:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
  
      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }

    @include phones {
      transform: translate(250px, 0px);
    }
  }
}

.toggle {
  position: relative;
  font-family: Montserrat, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;

  @include bigPhones {
    margin-left: auto;
    margin-right: auto;
  }
}

.toggle__input {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.toggle__label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  width: 120px;
  height: 45px;
  background-color: #dddddd;
  border-radius: 25px;

  &:before,
  &:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
  }

  &::before {
    right: 1px;
    background-color: #B564D4;
    border-radius: 60px;
    transition: background 0.4s;
  }

  &:after {
    top: -1px;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-left: 75px;
    transition: margin 0.4s;
  }
}

.toggle__mode {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  content: "";
  line-height: 1.6;
  user-select: none;

  &--play {
    display: none;
  }
}

.toggle__input:checked + .toggle__label::before {
  background-color: #FF9473;
}

.toggle__input:checked + .toggle__label::after {
  margin-left: 0px;
}

.toggle__input:checked + .toggle__label .toggle__mode--play {
  display: inline-block;
  left: 61px;
}

.toggle__input:checked + .toggle__label .toggle__mode--train {
  display: none;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cards__item {
  width: 22%;
  margin-bottom: 40px;

  @include tablets {
    width: 30%;
  }

  @include bigPhones {
    width: 46%;
  }

  @include phones {
    width: 80%;
    margin-bottom: 25px;
  }
}

.card {
  min-height: 245px;
  position: relative;
  transition: transform .5s;
  perspective: 500px;

  &:hover {
    cursor: pointer;
  }
}

.card__front,
.card__back  {
  position: absolute;
  width: 100%;
  top: 0; 
  bottom: 0;
  transition: transform .7s, box-shadow .3s;
  backface-visibility: hidden;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.05);
}

.card__front {
  &:hover {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  }
  &--rotate {
    transform: rotateY(180deg);
  }
}

.card__back {
  transform: rotateY(180deg);

  &--rotate {
    transform: rotateY(360deg);
  }
}

.card__desc {
  padding: 15px 20px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  &--word {
    position: relative;
    padding: 15px 40px 15px 20px;
    justify-content: start;
  }
}

.card__img {
  border-radius: 25px 25px 0 0;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card__title,
.card__translation {
  font-family: Montserrat, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.15em;
}

.card__translation {
  margin-right: auto;
}

.card__rotate {
  position: absolute;
  right: 15px;
  width: 25px;
  height: 25px;
  background: url('../assets/img/icons/rotate.png') no-repeat 50% 50%;
  background-size: cover;
  filter: grayscale(1);
  margin-left: auto;
  transition: filter .3s;
  z-index: 5;

  &:hover {
    filter: grayscale(0);
  }
}

.nav {
  position: absolute;
  left: -405px;
  top: 0;
  width: 400px;
  height: 100vh;
  padding: 125px 25px 50px 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: left .5s;
  z-index: 5;

  background-color: #FF9473;
  text-transform: uppercase;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #fff;

  @include phones {
    width: 320px;
  }

  &--visible {
    left: 0;
  }
}

.nav__item {
  margin-bottom: 20px;
  line-height: 1.3;
  transition: .3s;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    transform: scale(1.2);
  }

  &:visited {
    opacity: .7;
  }


  &--active {
    border-bottom: 3px solid #fff;

    &:hover {
      transform: scale(1);
    }
  }
}

.footer {
  padding: 15px 0;
  background-color: #FF6E40;
  color: #fff;
  font-family: Montserrat, Arial, sans-serif;
  
}

.footer__author {
  margin-right: 10px;
  font-size: 14px;
}

.footer__link {
  display: flex;
  align-items: center;
  transition: .3s;

  &:hover {
    opacity: .7;
  }
}

.footer__link-img {
  width: 25px;
  height: 25px;

  &--rsschool {
    width: 60px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .2);
  display: none;

  &--visible {
    display: block;
  }
}