@import "~normalize.css";
@import "./media.scss";
@import "./base.scss";

.header {
  margin-bottom: 45px;
  padding-top: 25px;
  color: #FF7B40;

  @include bigPhones {
    margin-bottom: 35px;
  }

  @include phones {
    padding-top: 10px;
    margin-bottom: 20px;
  }
}

.logo {
  @include bigPhones {
    margin: 0 auto;
    min-width: 240px;
    text-align: center;
  }
}

.logo__link {
  font-size: 55px;
  text-shadow: 0px 1px 1px #A62800;

  @include bigPhones {
    font-size: 40px;
  }

  @include phones {
    font-size: 35px;
  }
}

.menu-icon {
  z-index: 100;

  @include bigPhones {
    margin-right: 10px;
  }
}

.menu-icon__toggle {
  display: block;
  width: 45px;
  height: 31px;
  position: relative;

  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;

  & span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    background-color: #50026E;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 12px;
    }

    &:nth-child(4) {
      top: 24px;
    }
  }

  &--open {
    z-index: 7;
    transform: translate(270px, 0px);
    transition: .5s;

    & span {
      background-color: #fff;

      &:nth-child(1),
      &:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
  
      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }

    @include phones {
      transform: translate(250px, 0px);
    }
  }
}

.toggle {
  position: relative;
  font-family: Montserrat, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  margin-right: 20px;

  @include phones {
    transform: scale(.9);
  }
}

.toggle__input {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.toggle__label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  width: 145px;
  height: 45px;
  background-color: #dddddd;
  border-radius: 25px;

  &:before,
  &:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
  }

  &::before {
    right: 1px;
    background-color: #B564D4;
    border-radius: 60px;
    transition: background 0.4s;
  }

  &:after {
    top: -1px;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-left: 100px;
    transition: margin 0.4s;
  }
}

.toggle__mode {
  display: flex;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  content: "";
  line-height: 1.6;
  user-select: none;

  &--play {
    display: none;
  }
}

.toggle__mode-icon {
  width: 25px;
  height: 25px;
  margin-left: 5px;

  &--train {
    background: url('../assets/img/icons/train2.png') no-repeat 50% 50%/cover;
  }

  &--play {
    margin-left: 9px;
    background: transparent url('../assets/img/icons/play.webp') no-repeat 50% 50%/cover;
  }
}

.toggle__input:checked + .toggle__label::before {
  background-color: #FF9473;
}

.toggle__input:checked + .toggle__label::after {
  margin-left: 0px;
}

.toggle__input:checked + .toggle__label .toggle__mode--play {
  display: flex;
  left: 58px;
}

.toggle__input:checked + .toggle__label .toggle__mode-icon--play {
  display: inline-block;
}

.toggle__input:checked + .toggle__label .toggle__mode--train {
  display: none;
}

.header__btns {
  display: flex;
  align-items: center;

  @include bigPhones {
    margin-left: auto;
    margin-right: auto;
  }
}

.stats-btn {
  background-color: #FF7B40;
  color: #fff;
  font-family: Montserrat, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  height: 45px;
  padding: 0 15px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  line-height: 1.6;
  user-select: none;
  transition: .3s;

  &:hover {
    cursor: pointer;
    background-color: darken(#FF7B40, 10);
  }
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cards__item {
  width: 22%;
  margin-bottom: 40px;

  @include tablets {
    width: 30%;
  }

  @include bigPhones {
    width: 46%;
  }

  @include phones {
    width: 80%;
    margin-bottom: 25px;
  }
}

.card {
  min-height: 245px;
  position: relative;
  transition: transform .5s;
  perspective: 500px;

  &:hover {
    cursor: pointer;
  }
}

.card__front,
.card__back  {
  position: absolute;
  width: 100%;
  top: 0; 
  bottom: 0;
  transition: transform .6s, box-shadow .3s;
  backface-visibility: hidden;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.05);
}

.card__front {
  &:hover {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  }
  &--rotate {
    transform: rotateY(180deg);
  }
}

.card__back {
  transform: rotateY(180deg);

  &--rotate {
    transform: rotateY(360deg);
  }
}

.card__desc {
  padding: 15px 20px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  &--word {
    position: relative;
    padding: 15px 40px 15px 20px;
    justify-content: start;
  }
}

.card__img {
  border-radius: 25px 25px 0 0;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card__title,
.card__translation {
  font-family: Montserrat, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.15em;
}

.card__translation {
  margin-right: auto;
}

.card__rotate {
  position: absolute;
  right: 15px;
  width: 25px;
  height: 25px;
  background: url('../assets/img/icons/rotate.png') no-repeat 50% 50%;
  background-size: cover;
  filter: grayscale(1);
  margin-left: auto;
  transition: filter .3s;
  z-index: 5;

  &:hover {
    filter: grayscale(0);
  }
}

.card--play {
  & .card__desc {
    display: none;
  }

  & .card__img,
  & .card__image {
    height: 100%;
    transition: .3s;
  }
}

.card--disabled {
  opacity: .4;
}

.nav {
  position: absolute;
  left: -405px;
  top: 0;
  width: 400px;
  height: 100vh;
  padding: 125px 25px 50px 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: left .5s;
  z-index: 5;

  background-color: #FF9473;
  text-transform: uppercase;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #fff;

  @include phones {
    width: 320px;
  }

  &--visible {
    left: 0;
  }
}

.nav__item {
  margin-bottom: 20px;
  line-height: 1.3;
  transition: .3s;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    transform: scale(1.2);
  }

  &:visited {
    opacity: .7;
  }


  &--active {
    border-bottom: 3px solid #fff;

    &:hover {
      transform: scale(1);
    }
  }
}

.footer {
  padding: 15px 0;
  background-color: #FF6E40;
  color: #fff;
  font-family: Montserrat, Arial, sans-serif;
  
}

.footer__author {
  margin-right: 10px;
  font-size: 14px;
}

.footer__link {
  display: flex;
  align-items: center;
  transition: .3s;

  &:hover {
    opacity: .7;
  }
}

.footer__link-img {
  width: 25px;
  height: 25px;

  &--rsschool {
    width: 60px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .2);
  display: none;

  &--visible {
    display: block;
  }
}

.buttons {
  text-align: center;
  margin-bottom: 20px;

  &__btn {
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 16px 25px;
    background: linear-gradient(40deg,#B564D4,#FF6E40);
    color: #fff;
    border-radius: 10px;
    outline: none;
    transition: .2s;

    &:hover {
      box-shadow: 0px 4px 16px rgba(0,0,0,0.25);
    }
  }

  &--hidden {
    opacity: 0;
    width: 0;
    height: 0;
    font-size: 0;
    margin: 0;
    padding: 0;
  }

  &__repeat {
    width: 65px;
    height: 65px;
    font-size: 0;
    background-image: url('../assets/img/icons/repeat.svg'), linear-gradient(40deg,#B564D4,#FF6E40);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 32px 32px, cover;
    background-position: 50%;
    transition: .3s;

    & .toggle__mode-icon {
      display: none;
    }
  }
}

.stars {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  height: 30px;
  margin-bottom: 15px;
  padding: 0 3%;

  &--hidden {
    display: none;
  }
}

.star,
.star--error {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  flex-shrink: 0;
  background-size: contain;
  background-position: center;
  background-image: url('../assets/img/icons/star.svg');
}

.star--error {
  background-image: url('../assets/img/icons/star_error.svg');
}

.game-success,
.game-failure {
  margin: 0 auto;
  height: 55vh;
  background: transparent url(../assets/img/success.png) no-repeat 50% 50%;
  background-size: contain;
}

.game-failure {
  background-image: url(../assets/img/failure.png);
}

.game-info {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.stats-wrap {
  width: 100%;
  margin-bottom: 30px;
  overflow-x: auto;
}

.stats-table {
  width: 100%;
  min-width: 550px;
  background: #c7fbff30;
  color: #fff;
  border-collapse: collapse;

}

.stats-table__header {
  padding: 5px 20px;
  font-size: 16px;
  background-color: #FF9473;
  text-align: center;
  font-family: Montserrat, Arial, sans-serif;
  border: 1px solid #dddddd;
  text-transform: capitalize;
  user-select: none;

  &:hover {
    cursor: pointer;
    background-color: #FF3D00;
  }

  &--ascend:after {
    content: '▲';
  }

  &--descend:after {
    content: '▼';
  }


}

.stats-table__cell {
  padding: 5px 20px;
  color: #50026E;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  border: 1px solid #dddddd;
}

.stats-btns {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__repeat,
  &__reset {
    padding: 12px 20px;
    font-family: Montserrat, Arial, sans-serif;
    background-color: #B564D4;
    font-weight: 700;
    color: #fff;
    border-radius: 20px;
    transition: .3s;
    outline: none;

    &:hover {
      background-color: darken(#B564D4, 10);
    }
  }

  &__repeat {
    margin-right: 10px;
  }

  &__reset {
    background-color: #FF3D00;

    &:hover {
      background-color: darken(#FF3D00, 5);
    }
  }
}
